* {
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.content {
  margin: 5px;
}
body {
  margin: 5px;
}
.navbar-content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-content h1 {
  font-size: 25px;
}

.navbar-logo img {
  height: 70px;
}
.cover {
  position: relative;
}

.cover img {
  object-fit: cover;
  height: 500px;
  width: 100%;
  border-radius: 75px;
}
.cover-text {
  top: 70%;
  left: 5%;
  font-weight: bold;
  position: absolute;
  width: 1000px;
  opacity: 80%;
  background-color: aliceblue;
  opacity: 70%;
}
.covcover-text h1 {
  font-size: 30px;
}
.cover-text p {
  font-size: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  gap: 2%;
  min-height: 0;
  min-width: 0;
}
.card {
  height: 100%;
  width: 80%;
  padding: 10px;
  margin: 30px;
  overflow: hidden; /* NEW */
  min-width: 0;
}

.card-text {
  font-size: small;
  height: 10%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.header h1 {
  font-size: large;
  font-weight: bolder;
}
.header h2 {
  font-size: medium;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
}
.card-text p {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text a {
  /* color: ; */
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
.clas {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cotain;
  border-radius: 20%;
}
.star {
  display: flex;
  float: left;
  margin-top: 2%;
}

.card-footer {
  display: grid;
  margin-top: 5%;
}
.card-button {
  border-radius: 90px;
  border: none;
  padding: 10px;
  color: rgb(61, 36, 4);
  background-color: antiquewhite;
}
.products {
  display: flex;
  justify-content: center;
}
.footer {
  background-color: antiquewhite;
  padding: 10%;
}
.btn {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
